.header {
  margin: 1rem;
  display: flex;
}

.count {
  margin-left: 1rem;
  background-color: cornflowerblue;
  width: 3rem;
  height: 3rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
